@import './module/base.css';
@import './module/search_area.css';
@import './module/table.css';
@import './module/button.css';
@import './module/page.css';
#wrap{
    width:1200px;
    margin:50px auto;
}
table{
    width:100%;
}
.btn_paramList{
    width:100px;
    height:30px;
    line-height: 30px;
}